#top {
    position: absolute;
    margin: 0;
    width: 100%;
    top: 0;
    background-color: whitesmoke;
}

.header {
    background-color: darkred;
    height: 100px;
    margin-top: -21px;
    font-family: Bebas;
}

#title {
    padding: 9px 0px 0px 60px;
}

#subtitle {
    position: absolute;
    top: 41px;
    left: 60px;
    text-align: -webkit-left;
}

.right {
    position: absolute;
    right: 0;
    top: 25px;
}

.button_header {
    color: whitesmoke;
    margin-right: 30px;
    font-size: 30px;
}


.products {
    line-height: 1;
    background: #8B0000 none repeat scroll 0% 0%;
    width: 50%;
    height: 210px;
    margin: auto;
    margin-bottom: 30px;
}

.titlep {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: larger;
    background-color: #cc4934;
}

.boxcontentp {
    display: block;
    background-color: #a1a1a1;
    border: 2px solid #1F1F1F;
    padding: 8px;
    text-align: justify;
}

.desc {
    font-family: sans-serif;
    margin: 20px 0px 0px 50px;
}

.reviewlink {
    position: relative;
    top: 50px;
    left: 800px;
    color: whitesmoke;
}